
body{
    background-color: lightgreen;
    font-display: center;
}
div{
    padding: 70px 20px;
    margin:250px 0px;
    background-image: url(F:\wp9678275);

    text-align: center;
    font-style: initial;
}
